.sort-cocktails-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.sort-cocktails-buttons-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
  overflow: scroll;
}
.sort-cocktails-buttons-container button {
  font-size: 20px;
  font-style: italic;
  font-family: monospace;
  background: black;
  text-align: center;
  color: white;
  padding: 10px;
  box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 25%);
  border-radius: 25px;
  cursor: pointer;
}

.sort-cocktails-buttons-container button [type="checkbox"] :not(:checked) {
  background: black;
  color: white;
}
.sort-cocktails-buttons-container button [type="checkbox"] :checked {
  background: chartreuse;
  color: rgb(221, 24, 24);
}
.sort-cocktails-buttons-container button ::before {
  background: black;
  color: white;
}
.sort-cocktails-buttons-container button ::after {
  background: rgb(186, 70, 157);
  color: rgb(221, 24, 24);
}
