.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  max-height: fit-content;
  padding: 2%;
  margin: 2%;
  flex: 1 1 16%;
  border: 3px solid rgb(0 0 0);
  background-color: rgb(196 196 196 / 50%);
  box-shadow: inset 2px 2px 2px 2px rgb(0 0 0 / 58%);
  border-radius: 50px;
}

.product-image img {
  max-block-size: 200px;
  background: white;
  border: 2px solid #27077f;
}
.product-image img:hover {
  opacity: 0.5;
}
.product-image {
  height: 200px;
  width: 200px;
}
.product-info {
  margin-top: auto;
  padding-top: 20px;
  text-align: center;
}

@media (max-width: 920px) {
  .product-card {
    flex: 1 21%;
  }

  .products .product-card:first-child,
  .products .product-card:nth-child(2) {
    flex: 2 46%;
  }
}

@media (max-width: 600px) {
  .product-card {
    flex: 1 46%;
  }
}
.product-button {
  font-size: 20px;
  font-style: italic;
  font-family: monospace;
  background: black;
  text-align: center;
  color: white;
  padding: 10px;
  box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 25%);
  border-radius: 25px;
  cursor: pointer;
}
.product-button:hover {
  background: rgb(77, 72, 86);
  color: rgb(255, 255, 255);
}
.product-button:checked {
  background: rgb(67, 66, 69);
  color: rgb(93, 119, 98);
}
.product-button:active {
  background: white;
  color: black;
  box-shadow: 10px 10px 10px 10px rgb(0 0 0 / 25%);
}
