.main {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  align-content: stretch;
  padding: 10px;
  margin: 15px;
}

.input-form {
  padding: 10px;
  margin: 15px;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  min-width: max-content;
}
.input-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: stretch;
  padding: 10px;
  margin: 15px;
}
.input-div label {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
